extends layout

block content
  .header-main
    nav
      ul
        li.a(href="#") home
         
        li.a(href="#bio") portfolio
         
        li.a(href="#") about

  .myimg
    img(class="background", src="/images/background3.jpg", alt="")
    h1.top.
     Software
    h1.bottom.
      Engineer
    p(style="width: 20vw").
      Brian Turloff
      brian.turloff@gmail.com poh yeah
      (254) 423-8536

    embed.arrow(src="/images/right-arrow.svg", type="image/svg+xml" alt="")
    //- .box1      
    //-   p#scroll Scroll to learn a little more about me and what I can do for you...

  .section(name="bio")
  p gravy
    //- .left
    //-   h2 Bio
    //- .right
    //-   p Hello there
    //- 
    //- 
  
    
  
    
  
    
    
